* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9rem;
}

/*-----------------------------------Font Weight-----------------------------------*/
.fw-800 {
    font-weight: 800;
}
.fw-600 {
    font-weight: 600 !important;
}
/*-----------------------------------Font Size-----------------------------------*/
.f80 {
    font-size: 5rem;
}
.f4 {
    font-size: 2.2rem;
}
.fs14 {
    font-size: 1.4rem !important;
}
/*----------------------------------Padding& Porder----------------------------------*/
.pad {
    border: 4px solid white !important;
    padding: 1% 5% !important;
}

.pad1 {
    border: 4px solid black !important;
    padding: 1% 5% !important;
}
/*-----------------------------------Navpar Section-----------------------------------*/
.txt1-hero {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    width: 100% !important;
    align-content: center !important;
    height: 100% !important;
}

.txt2-hero {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
    flex-direction: column !important;
    width: 100% !important;
    align-content: center !important;
    height: 100% !important;
    color: black !important;
}
#flags{
    max-height:300px ;
}
/*open dropdown of pages on hover*/
.dropdown:hover .onStand{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
/*heigth for dorpdown collection*/
.hDrop{
height:200px ;
}
/*-----------------------------------Hover-----------------------------------*/
.active {
    color: red !important;
}

.nav-link:hover {
    color: red !important;

}
.hov:hover {
    color: red !important;
}
.bghov:hover {
    background-color: red !important;
}
.card-hover:hover{
    border: 2px solid red;
}
/*----------------------------------------------------------------------*/
.nav-link {
    color: black !important;
    font-weight: 700 !important;
    font-size: 1.2rem;
}
.button {
    border: none !important;
    background-color: white !important;
    color: black !important;
    font-weight: 700 !important;
}

/*-----------------------------------hero section-----------------------------------*/

/* Customize the hero section */
.hero-section {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Adjust the height as needed */
}

.h100 {
    height: 100vh;
}
/* Style the carousel images */
.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*--------------------------Button in card---------------------------*/
.parentButton {
    position: relative;
    width: 450px;
    height: 300px;
}
.buttonHover{
    position: absolute;
    width: 100% !important;
    left: 0;
    top: 270px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color: white;
    background-color: black;
    z-index: 1;
    padding: 3% 3%;
}
.parentButton:hover .buttonHover {
    opacity: 1;
}
/*-----------------------------------Color-----------------------------------*/
.color-red {
    color: red !important;
}

.color-black {
    color: black !important;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}
.bg-light-gray{
    background-color: #f3f3f3;
}
.color-light-gray{
  color: #8a8a8a;
}
.color-white {
    color: white !important;
}
/*-----------------------------------Margin-----------------------------------*/
.m-lr-5 {
    margin-right: 5%;
    margin-left: 5%;
}

.mr-auto {
    margin: auto !important;
}

.w100 {
    width: 100% !important;
}

.w50 {
    width: 50%;
}

.w30 {
    width: 30%;
}
.h300{
    height: 300px !important
}
/*-----------------------------------Padding-----------------------------------*/
.padding {
    padding: 0.5rem;
}


.ptb {
    padding: 1% 5% !important;
}

.p-lr-5 {
    padding-right: 5%;
    padding-left: 5%;
}

.p-all-2 {
    padding: 2% !important;
}
.p-all-6 {
    padding: 6% !important;
}
/*-----------------------------------Width-----------------------------------*/
.w13 {
    width: 1.33333333em;
}

.w35 {
    width: 30%;
}

.w65 {
    width: 50% !important;;
}

.w80px {
    width: 80px !important;
}

.w180px {
    width: 50% !important;
}
.w2rem{
    width: 1300px !important;
}
.left-value{
    left:-492px
}

.wh100 {
    width: 400px;
    height: 100%;
}

/*----------------------------------Comment-----------------------------------*/
.ima {
    max-width: 85px;
    object-fit: cover;
    height: auto;
    padding-top: 5%;
    margin-right: 10%;
}
/*-----------------------------------Shop Now-----------------------------------*/
.bg-ShopNow {
    background-image: url('//phono-demo.myshopify.com/cdn/shop/files/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X_1.jpg?v=1621342028&width=1920');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #fff; /* Text color on top of the hero image */
    display: flex;
    /* Create a semi-transparent overlay */
    position: relative;
}

/*background*/
.bg {
    background-image: url('//phono-demo.myshopify.com/cdn/shop/files/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X_1.jpg?v=1621342028&width=1920');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
   //  text-align: center;
    margin: auto;
    color: #fff;
}

.card-header a:after {
    content: "+";
    position: absolute;
    color: white;
    right: 37px;
    top: -2%;
    transition: all 1s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    font-size: 40px;
}

/* Remove background color from .accordion-item */
.card {
    background-color: transparent !important; /* or background-color: initial; */
}

/*-----------------------------------border-radius -----------------------------------*/
.radius30 {
    border-radius: 30px !important;
}

.border-none {
    border: 0 !important;
}

.border-b {
    border-bottom: 1px solid #e2e2e2
}

/*-----------------------------------Pos-----------------------------------*/
.d-flex {
    display: flex;
}

.justify-content-md-around-1 {
    justify-content: space-around;
}
/*-----------------------------------Search bar-----------------------------------*/

.Buttoncycle {
    position: absolute;
 /*   left: 94%;
    top: 4%;*/
    left: 94%;
    //top: 5%;
    padding: 1%;
}
.block:after {
    content: "|";
  //  padding: 5%;
    color: #fff;
    padding-inline: 15px;
}
.cursor {
    cursor: pointer;
}
.transition {
    transition: 0.5s;
}
/*------------------------------Search----------------------------*/
.searchbar a:after {
    content: "+";
    position: absolute;
    color: white;
    right: 37px;
    top: -2%;
    transition: all 1s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    font-size: 40px;
}
/*-----------------------------------submenu-----------------------------------*/
.change ul {
    list-style: none !important;
    padding: 0 !important;
}
/*header*/
.change li:first-child a {
    font-size: 1.2em !important;
    font-weight: bold !important;
}

/*Under header*/
.change li a {
    color: gray !important;
    padding: .5em 1em !important;
    color: #000 !important;
}

.change {
    border-radius: 0;
    border: none;
    padding: .5em;
// box-shadow: 0 3 em 6 px rgba(0, 0, 0, .23);
}

/*------------------------------dot section----------------------------*/
/*
.dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
*/

.pos-relative {
    position: relative;
}

.vertical-line {
    display: inline-block;
    border-left: 2px solid black;
    margin: 0 10px;

}
.h-13 {
    height: 200px;
}

.h-24 {
    height: 100px;
}
.h-fit {
    height: fit-content !important;
}
/*
.card1 {
    position: absolute;
    top: 95%;
    margin: auto;
}


.child1 {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 88%;
}

.pos-abs-2 {
    position: absolute;
    top: 55%;
    left: 60%;
}

.child2 {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 60%;
}

.pos-abs-3 {
    position: absolute;
    top: 55%;
    left: 14%;
}

.child3 {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 14%;
}

.pos-abs-4 {
    position: absolute;
    top: 55%;
    left: 37%;
}

.child4 {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 37%;
}
*/
.img-size {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.con {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.m-card {
    width: 15px;
    height: 15px;
    position: absolute;
}

.m-card-dot {
    background-color: black;
}

.m-card-dot span {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
}

.m-card1 {
    left: 88%;
    transform: translate(-61%, -88%);
}

.m-card2 {
    left: 60%;
    transform: translate(-61%, -60%);
}
.m-card3 {
    left: 38%;
    transform: translate(-61%, -88%);
}
.m-card4 {
    left: 15%;
    transform: translate(-61%, -88%);
}

.m-card {
    top: 57%;
}

.m-card-content {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 991px) and (max-width: 1540px)

.m-card-content:after {
    top: -91%;
}

.m-card-content-2:after {
    height: 200px;
}

.m-card-content-1:after {
    height: 100px;
}

.m-card-content:after {
    content: "";
    background-color: black;
    left: 50%;
    width: 1px;
    position: absolute;
    bottom: 100%;
}

.m-card-content-2 {
    top: 200px;
}

.m-card-content-1 {
    top: 100px;
}

.m-card-content {
    position: absolute;
    padding: 3rem;
    transition: all .3s linear;
    opacity: 1;
    visibility: visible;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

@media (min-width: 1200px) {
    .m-card-content {
        width: 300px;
        padding: 1.5em;
    }
}
@media (min-width: 992px) {
    .m-card-content {
        width: 275px;
        padding: 1.25em;
    }
    .width60 .wh100{
        width: 400px !important;
    }
    .txt-center{
        text-align: center !important;
    }
}
@media (min-width: 768px) {
    .m-card-content {
        width: 250px;
        padding: 1em;
    }

}
@media (min-width: 500px) {
    .m-card-content {
        width: 200px;
        padding: 0.75em;
    }
}
@media (max-width: 500px) {
    .m-card-content {
        display: none;
    }

}

.m-cards-parent {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.m-card-content img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
}

.m-card-content a {
    text-decoration: none;
}

@media screen and (min-width: 750px) {
    .m-section {
        padding-top: 36px;
        padding-bottom: 308px;
    }
}
/*------------------------------Media query----------------------------*/

@media screen and (max-width: 1200px) {
    .f80 {
        font-size: 0.7rem;
    }

    .w30-lg {
        width: 60% !important;
    }

    .text-xl-start {

        text-align: center !important;
    }
}

@media screen and (max-width: 992px) {
    /*

    .change.show {
        max-height: 350px;
        overflow-y: scroll;
    }
    */

    .f4 {
        font-size: 1.5rem;
    }
/*
    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }*/
    .block:after{
        display: none !important;
    }

}
@media screen and (min-width: 993px) {
   /*

   .change.show {
        display: flex !important;
    }
   */

    /*بس وقف عليا تفتح*/
     .dropdown:hover .change {
        display: flex;
    }
   /* .block:after{
        display: none !important;
    }*/
}


@media screen and (max-width: 888px) {
    .f80 {
        font-size: 0.6rem;
    }
    .wh100 {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .f80 {
        font-size: 0.7rem;
    }

    .btn-lg {
        font-size: .8rem !important;
    }
}

@media screen and (max-width: 400px) {
    .f80 {
        font-size: 0.6rem;
    }

}

/*------------------------------------------Carousel------------------------------------------*/
@media (max-width: 970px) {
    .Buttoncycle {
        left: 92%;
        top: 9%;
    }
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none !important;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block !important;
    }
    /*Search Bar*/
    .block:after{
        display: none !important;
    }
    .Buttoncycle {
        position: absolute;
      /*  left: 92%;*/
        top: 10%;
        left: 88%;
        padding: 3% !important;
    }
}

.carousel-inner .carousel-item.active, .carousel-inner /*.carousel-item-next*/, .carousel-inner /*.carousel-item-prev*/ {
    display: flex !important;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active, .carousel-inner .carousel-item-next {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-start.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-25%) !important;
    }
}

.carousel-inner .carousel-item-end, .carousel-inner .carousel-item-start {
    transform: translateX(0) !important;
}

.h-fit-content {
    height: fit-content;
}